*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
    --Purple-50: hsl(260, 100%, 95%)
    --Purple 300: hsl(264, 82%, 80%)
    --Purple 500: hsl(263, 55%, 52%)
    --White: hsl(0, 0%, 100%)
    --Grey 100: hsl(214, 17%, 92%)
    --Grey 200: hsl(0, 0%, 81%)
    --Grey 400: hsl(224, 10%, 45%)
    --Grey 500: hsl(217, 19%, 35%)
    --Dark blue: hsl(219, 29%, 14%)
    --Black: hsl(0, 0%, 7%)
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  border: 1px solid;
}

.profile-img{
  border-radius: 50%;
  border: 3px solid;
}